@media only screen and (max-width: 1025px) {
  .flex-container-right {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 1025px) {
    .flex-container-left {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  #portfolio-left,
  #portfolio-right {
    display: none;
  }
}

#boarder-left,
#boarder-right {
  width: 25vw;
  background-repeat: no-repeat;
  background-size: cover;
}

#boarder-left {
  background-image: url("../images/Boarder.png");
}

#boarder-right {
  background-image: url("../images/Boarder.png");
}

body {
  display: flex;
}

@media only screen and (min-width: 1025px) {
  #boarder-container {
    width: 50vw;
    box-shadow: 0px 0px 10px black;
    z-index:1
  }
}

@media only screen and (max-width: 1025px) {
  .flex-text-center {
    text-align: center;
  }
}
