body {
  background-color: rgb(60, 46, 68);
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (min-width: 900px) {
  body {
    margin: auto;
  }
}

@media screen and (max-width: 900px) {
  body {
    margin: auto;
    width: 100%;
  }
}

a:visited {
  color: darkseagreen;
  text-decoration: none;
}

a:link {
  color: cadetblue;
  text-decoration: none;
}

.center-text {
  text-align: center;
}
