#portfolio-main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#portfolio-bottom-container {
  flex-direction: row-reverse;
  display: flex;
  gap: 1rem;
}

#portfolio-bottom-container-left {
  flex-direction: row;
  display: flex;
  gap: 1rem;
}

#portfolio-image {
  max-width: 300px;
}